:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */

    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.player {
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
}

.dashboard {
    background-color: white;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 50rem;
    border-bottom: 1px solid #ddd9d9;
}

.dashboard header {
    text-align: center;
}

.dashboard header h2 {
    color: var(--primary-color);
}

.dashboard header h1 {
    color: var(--text-color);
    padding-bottom: 1rem;
}

.cd {
    width: 25rem;
    display: flex;
    margin: auto;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    border-radius: 50%;
    background-color: #333;
    margin: auto;
}

.control {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    align-items: center;
}

.control .btn {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    padding: 1rem;
    width: 5rem;
    text-align: center;
}

.control .btn-toggle-play {
    width: 8rem;
}

.btn-repeat:hover, 
.btn-prev:hover, 
.btn-next:hover, 
.btn-random:hover {
    background-color: #ddd9d9;
    border-radius: 50%;
}

.btn-random.active, .btn-repeat.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    font-size: 6rem;
    color: var(--primary-color);
}

.btn-toggle-play:hover {
    opacity: 0.8;
}

.player .btn-pause {
    display: none;
}

.player.playing .btn-pause {
    display: inline-block;
}

.player.playing .btn-play {
    display: none;
}

.dashboard #progress {
    width: 100%;
}

.playlist {
    margin-top: 49rem;
    padding: 1rem;
}

.song {
    display: flex;
    background-color: #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    border-bottom: 1px solid #999;
}

.song:hover {
    background-color: #ec1f561c;
    cursor: pointer;
}

.song .option:hover {
    cursor: not-allowed;
}

.song.active {
    background-color: var(--primary-color);
}

.song.active .title, 
.song.active .author,
.song.active .option {
    color: white;
}

.song .thumb {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-size: cover;
}

.song .body {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 3;
    padding-left: 2rem;
}

.song .title {
    color: var(--text-color);
    font-size: 1.8rem;
}

.song .author {
    color: #999;
    font-size: 1.2rem;
    padding-top: 0.25rem;
}

.song .option {
    color: #999;
    font-size: 3rem;
}